img {
    width: 200px;
}
p {
  font-size: 60px; 
  font-family: 'Righteous', cursive;
}

body {
    background: blue;
}

ul {
   font-size: 30px;
   font-family: 'Righteous', cursive; 
}

h1 {
   font-size: 60px; 
}
